html, body, #app, #game { width: 100%; height: 100%; margin: 0; overflow: hidden; background: #090708; }
body { cursor: url('/assets/hs/cursor-0.png'), auto; }
canvas { display: block; image-rendering: pixelated; image-rendering: crisp-edges; }
